PORT=8080
MONGO_DBLOCAL= mongodb://localhost:27017/THE_COLLAGE
MONGO_URI=mongodb+srv://avinashsharma31384:avinashsharma31384@avinash.3qwizgn.mongodb.net/THECOLLAGE?retryWrites=true&w=majority&appName=Avinash
JWT_SECRET=your_secret_key
CLOUDINARY_CLOUD_NAME=drucek3tt
CLOUDINARY_API_KEY=812592149661196
CLOUDINARY_API_SECRET=7rBB1def8CxBU9RLRXrkYUDe4oU

# node mailer functionality
EMAIL_USER=forkali38@gmail.com
EMAIL_PASS=ljay pcqi crqo ance

# Firebase (replace with your Firebase project ID)
FIREBASE_PROJECT_ID=the-college-cc519


# fronend url
FRONTEND_URL=http://localhost:5173




# Chatbot provider
CHATBOT_PROVIDER=gemini
# CHATBOT_API_KEY= AIzaSyAzxXhDF3ldjjwxwQQ8ZbEUYLGaVxoKxNM  # Soumya
# CHATBOT_API_KEY= AIzaSyA8dC9lLkSX0qShGoKR-P1fAo-iQleh_GI # Prakash
CHATBOT_API_KEY=AIzaSyAwcsmHVCHen-yow3EDEvfOpkcI0XutpiM
CHATBOT_API_URL=
CHATBOT_MODEL=gemini-flash-lite-latest
CHATBOT_TEMPERATURE=0.4
